@font-face {
  src: url('../Fonts/NunitoSans-Regular.ttf');
  font-family: "Nunito Sans";
}

body {
  margin: 0 auto;
  font-family: 'Nunito Sans', Arial;
  font-size: 11px;
}

.container {
  margin: 0 auto;
  max-width: 1256px;
  display: flex;
}

.phone {
  color:#E3B873;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: right;
  text-decoration-line: underline;
}

.button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-family: Nunito Sans;
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.logo {
  color: #E3B873;
}

.header {
  background-color:black;
}

.header-content {
  display: flex;
  justify-content: space-between; 
  height: 83px;
  align-items: center;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation__item {
  margin-right: 47px;
}

.header-navigation__item a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:#E3B873;
}

@media screen and (max-width: 1300px) {
  .header-navigation {
    display: none;
  }
}

.button {
    display: none;
}

.logo {
    margin: 0 auto;
}

.phone {
    margin: 0 auto;
}

.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  height: 707px;
  position: relative;
}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

.title {
  margin: 0;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 194px 628px 408px 134px;
}

span {
  color: #E3B873;
}

p.hero-text {
  margin: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: justify;
}